@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('assets/fonts/Perfect DOS VGA 437.ttf') format('truetype'),
         
  }
  

body {
    font-family: monospace;
    font-size: large;
    margin: 0;
    padding: 0;
}

header {
    background-color: #26252c;
    color: #fff;
    text-align: left;
    padding: 1em 0;
    padding-left: 1em;
}

main {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Adjusts for header and footer */
}

.white-oriented {
    background-color: #393842; /* Or any light color of your choice */
}

.black-oriented {
    background-color: #19181d; /* Or any dark color of your choice */
}


#board {
    position: relative; 
    overflow: visible;
    width: 400px !important;
    z-index: 1; /* Ensure the board is displayed on top */
}

#progressBarContainer {
    width: 400px;
    margin-top: 20px;
}

#progressBar {
    width: 100%;
}


#infoPanel {
    background-color: #ffffff00;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* or adjust as per your layout */
}

#infoPanel p {
    margin: 0 0 10px 0;
}

#board.white-oriented::before,
#board.black-oriented::after {
    content: '';
    position: absolute;
    width: 40px;  /* or the width of your king image */
    height: 40px; /* or the height of your king image */
    top: -50px;   /* adjust as necessary */
    left: 50%;    /* center the image */
    transform: translateX(-50%); /* center the image */
}

#board.white-oriented::after,
#board.black-oriented::before {
    content: '';
    position: absolute;
    width: 40px;  /* or the width of your king image */
    height: 40px; /* or the height of your king image */
    bottom: -50px; /* adjust as necessary */
    left: 50%;    /* center the image */
    transform: translateX(-50%); /* center the image */
}


footer {
    background-color: #26252c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#userInputDiv {
    margin-top: 20px;
    text-align: center;
    
}

#userInput {
    font-family: monospace;
    padding: 5px 10px;
    font-size: 16px;
    width: 360px;
}


#particle-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;  /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    pointer-events: none;
    z-index: 9999;
}

.particle {
    position: absolute;
    overflow: hidden;
    background-color: #00b7ff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
    pointer-events: none;
    transition: all 2s ease-out;
    mix-blend-mode: lighten;
    z-index: 10000;
}


/* CSS for 180-degree rotation */
.rotate-board {
    animation: rotate-board-animation .3s ease-in-out;
  }
  
  @keyframes rotate-board-animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  .chessboard .notation .notation-label-rank {
    display: none;
  }
  
  .chessboard .notation .notation-label-file {
    display: none;
  }
  